<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-crash-handler"
        version="0.0.1">
  <name>CrashHandler</name>
  <description>Global charsh error handling</description>
  <license>MIT</license>
  <keywords>cordova,crash,error,handling</keywords>
  <repo></repo>
  <issue></issue>

  <js-module name="CrashHandler" src="www/CrashHandler.js">
    <clobbers target="CrashHandler" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CrashHandler" >
        <param name="android-package" value="CrashHandler"/>
      </feature>
    </config-file>
    <source-file src="src/android/CrashHandler" target-dir="src/" />
  </platform>

</plugin>